*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/navTree.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/compiler.xml
/.idea/migrations.xml
.DS_Store
build/
**/build/
captures/
.externalNativeBuild
.cxx
local.properties
